<%= title 'Team Edit' %>


<div class="container main-container">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="primary-color">Team Profile <small class="small-headers"> edit</small></h1>
      <p>The save button at the bottom of the page must be clicked in order to save an edit.</p>
      <br>
      <!-- Edit: team form -->
      <%= render 'form' %>
    </div>
	</div>
</div>