<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>


  <h3>Hi - We Have Some News for You >> </h3>

  <p>You had a new notifications on Backyard Lion International!  To see, sign in using the link below.</p>

  <p><%= link_to root_url, root_url,class: "btn btn-primary" %></p>

  Thanks, <br/>
  Devan Moylan <br/>
  Backyard Lion International CEO
  </body>
</html>


