Hi, <%= @team_name %>!<br/>
<p>Someone has expressed interest in your team!  To see who, sign in/sign up using the link below. </p>
<p><%= link_to "Sign in/up", root_url, class: "btn btn-primary" %></p>

<p>Thanks, </p>
<p>Devan Moylan </p>
<p>Backyard Lion International, CEO</p>
<p>Note: For security reasons, use this e-mail address <strong>(<%= @email %>)</strong> to sign
  in or sign up.</p>

