Hi, <%= @athlete_name %>,<br/>
<p>Someone has commented on one of your videos!  To see who, sign in using the link below. </p>
<p><%= link_to "Sign in", new_user_session_url, class: "btn btn-primary" %></p>

<p>Thanks, </p>
<p>Devan Moylan </p>
Backyard Lion International CEO

