<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>Hi!</p>
  <p>Someone sent you a message!  To see who, sign in using the link below. </p>
  <p><%= link_to root_url, root_url,class: "btn btn-primary" %></p>

  Thanks, <br/>
  Devan Moylan <br/>
  Backyard Lion International CEO
  </body>
</html>
