<p>Hello, <%= @full_name %>,</p>

<p>Thank you for being part of the Backyard Lion International community!  With the European American football season
about a month away, we want to congratulate athletes who have signed with a team as a player or coach this offseason!  We wish you
the best of luck.</p> <br>
<p>For those who were not able to find a good fit this season, do not be discouraged!  Teams will start recruiting
again in June/July and we encourage you to come back at that time to start interacting with teams again. Also, monitor your profile
and notifications because mid-season injury replacements are common.</p>
<br>
<p>Thanks,</p><br>
<p>Devan Moylan</p>
<p>Backyard Lion International CEO</p>
<p>ps. If there is anything we can do to improve the experience on Backyard Lion International, let me know.</p>