<p>Hi <%= @full_name %>,</p><br />

<p>First, I want to thank you for signing-up for Backyard Lion International with <%= @team_name %>.</p><br />
<p>We hope that your experience thus far has been a positive one, but we know that there are always ways to improve.</p>
<p>I'd love to know how we can improve Backyard Lion International so that it better suits your needs.</p><br />
<p>If there was one thing you'd change or add to Backyard Lion International, what would it be?</p> <br />
<p>Oh, and because of your support, I've given you a free Silver premium subscription for the remainder of 2017.
Upon signing in, this should take effect immediately.  Please let me know if you run into any problems.</p>
<br />

<p>Hope your 2017 is off to a great start, and looking forward to hearing from you!</p><br />
<p>Most Sincerely,</p>
<p>Devan Moylan</p>
<p>Backyard Lion International CEO</p>