<p>Hi, <%= @name %>,</p>
<p>You've been invited to connect with international football teams by someone from <%= @high_school %>.</p>
<p>Checkout the opportunities and benefits of playing football internationally by clicking the link below:</p>
<p class="primary-color">www.BackyardLionInternational.com</p>
<p>Most Sincerely,</p>
<br>
<p>Devan Moylan</p>
<p>Backyard Lion International, CEO</p>
<br>
<p class="text-muted">Backyard Lion is a trusted community marketplace for football players to connect with unique
  opportunities around the world — online desktop or from a mobile phone.</p>
