<p>Hi, <%= @team_name %>,</p>
<p>You've been invited to join Backyard Lion International -- a new, trusted community marketplace with world-class football athletes.</p>
<p>Backyard Lion is the easiest way to satisfy your import needs. Try it out by clicking the link below:</p>
<p>www.BackyardLionInternational.com</p>
<p>Most Sincerely,</p>
<p>Devan Moylan</p>
<p>Backyard Lion International, CEO</p>
<p>ps: Use the following email to sign up for security measures (<%= @email %>)</p>