<p>Hi, <%= @athlete_first_name %>,</p>

<p>I really appreciate you joining us at Backyard Lion International, and I know you'll love it when you see how
  easy it is to connect with teams. </p>

<p>We built Backyard Lion International to help athletes connect with international opportunities,
  and I hope that we can help you continue to play or coach <%= @athlete_sport %> internationally. </p>>

<p>If you wouldn't mind, I'd love it if you answered one quick question: why did you sign up for
  Backyard Lion International? </p>

<p>I'm asking because knowing what made you sign up is really helpful for us in making sure that we're
  delivering on what our users want. Just hit "reply" and let me know. </p>

<p>By the way, over the next couple weeks, we'll be sending you a few more emails to help you connect
  to teams. We'll be sharing some tips, checking in with you and showing you how some of our users
  use Backyard Lion International to connect with more teams. </p>


<p>Most sincerely, </p>
<p>Devan</p>
<p>CEO, Backyard Lion International</p>